@import "tailwindcss";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #f5f5f5;
    color: #16161d;
    background-image: url("public/bg/bg.svg");
}